$font-family: 'Noto Sans TC';
$bg-primary: white;

$width_height: (
  100: 100%,
  100vh: 100vh
);

$position_place: (
  0: 0,
  50: 50%,
  100: 100%
);

$border: (
  0: 0px,
  1px: 1px,
  5px: 5px,
  6px: 6px
);

$space: (
  d25: .25rem,
  d5: .5rem,
  d625: .625rem,
  1: 1rem,
  1d125: 1.125rem,
  1d25: 1.25rem,
  1d375: 1.375rem,
  1d875: 1.875rem,
  2d5: 2.5rem,
  3d125: 3.125rem,
  5: 5rem,
  5px: 5px,
  13px: 13px,
  15px: 15px,
  25px: 25px,
  35px: 35px,
  85px: 85px
);

$font-size: (
  16: 16px,
  17: 17px,
  19: 19px,
  24: 24px,
  28: 28px,
  30: 30px,
);
$font-weight: (
  5: 500,
  7: 700,
);

$line-height: (
  1: 1,
  1d5: 1.5,
  24px: 24px,
  27px: 27px
  );

$primary: #489;
$gray-20: #E8E8E8;
$color: (
  primary: $primary,
  gray-90: #cccccc,
  gray-50: #757575,
  gray-70: #666666,
  gray-20: $gray-20,
  gray-10: #F8F8F8,
  white: white,
  red: red
);