.attraction__main {
  border-top: 1px solid $gray-20;
}

.card__carousel {
  .pagination-left,
  .pagination-right {
    cursor: pointer;
    z-index: 1;
  }
  .pagination-left {
    left: 10px;
  }
  .pagination-right {
    right: 10px;
  }
  .carousel {
    overflow: hidden;
    border-radius: 5px;
  }
  .card__imgs {
    max-height: 406px;
  }
  .navigations {
    bottom: 10px;
    z-index: 1;
    .navigation-radio {
      cursor: pointer;
      accent-color: black;
    }
  }
}

.card__info {
  .text-height {
    line-height: 22px;
  }
  .card__body {
    border-radius: 5px;
    .card__description {
      line-height: 24px;
    }
    .card__button {
      border-radius: 5px;
      border: none;
    }
    .date__option {
      height: 35px;
    }
  }
  .title {
    line-height: 33px;
  }
  .category,
  .mrt {
    display: inline-block;
  }
  .time-radio {
    accent-color: $primary;
    width: 22px;
    height: 22px;
  }
}

.horizontal-line {
  border: none;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
}

.attraction__infors {
  line-height: 1.5;
  .infors__title {
    line-height: 2;
  }
}
