.infor__title,
.booking__list,
.booking__member,
.booking__credit,
.booking__checkout {
  max-width: 1000px;
  color: #666666;
}
.member__input {
  height: 38px;
}
.card__delete {
  top: 0;
  right: 0;
}
.booking__infor .card__img {
  max-width: 250px;
}