.banner {
  background-size: cover;
  background-position: center top;
}
.search {
  &__input {
    display: inline-block;
    width: 400px;
    height: 46px;
    border: none;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 0px 20px 0px #abc;
  }
  &__btn {
    border-radius: 0 5px 5px 0;
    vertical-align: bottom;
  }
}


.sign-form{
  visibility: hidden;
}

.member__card {
  max-width: 340px;
  top: 50px;
  transition: top .3s ease-in-out;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px; /* 邊框高度 */
    background: linear-gradient(to right, #66aabb, #337788);
  }
  .member__close{
    right: -7px;
    top: -7px;
  }
  .member__button {
    line-height: 1.5;
  }
}

.card__cover {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  opacity: .25;
}

