{% extends "base.html" %}
{% block head %}
台北一日遊
{% endblock%}

{% block banner %}
<section class="banner" style=" background-image: url({{ url_for('static', filename='img/welcome.png') }})">
  <div class="container py-85px pl-d625">
    <h2 class="text-gray-10 mb-15px fz-28 lh-1d5 fw-7">輕鬆享受台北一日悠閒</h2>
    <h3 class="text-gray-10 mb-25px fw-7 lh-1d5">探索每個角落，體驗城市的深度旅遊行程</h3>
    <div class="search">
      <input type="text" class="search__input p-15px fw-7" placeholder="輸入景點名稱查詢" ><img class="search__btn cursor-pointer py-d5 px-15px bg-primary" src="{{ url_for('static', filename='img/search.png') }}" alt="">
    </div>
  </div>
</section>
{% endblock %}



{% block main %}
<main>
  <div class="container py-2d5">
    <ul class="d-flex align-items-center mb-1d25 px-15px">
      <li><img class="left-arrow cursor-pointer text-gray-70" src="{{ url_for('static', filename='img/left_arrow.png') }}" alt=""></li>
      <ul class="mrt-list d-flex align-items-center grow-1 py-13px pl-d625 mr-d625">
        
      </ul>
      <li><img class="right-arrow cursor-pointer text-gray-70" src="{{ url_for('static', filename='img/right_arrow.png') }}" alt=""></li>
    </ul>
    <ul class="card_list p-15px d-flex flex-wrap justify-content-between gap-1d875">
      
    </ul>
  </div>
</main>
{% endblock %} 

{% block footer %}

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/variables.js') }}"></script>
<script src="{{ url_for('static', filename='js/loaded.js') }}"></script>
<script src="{{ url_for('static', filename='js/observer.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/mrtSearch.js') }}"></script>
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
{% endblock %}
