.mrt-list {
  width: calc(100% - 84px);
  white-space: nowrap;
  overflow: hidden;
  .mrt_item:hover > p{
    color: #000000;
  }
}

.card {
  position: relative;
  width: 23%;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  &:hover &__img,
  &:hover .img__cover{
    opacity: .8;
  }
  &:hover {
    box-shadow: 0px 0px 10px 0px #abc;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &__content {
    line-height: 1.5625;
  }
  &__head {
    height: 197px;
  }
  .img__cover {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}
